{% extends "base.html" %}
{% load stat_display %}


{% block content %}


<table cellspacing="0" class="box-list">
  <tbody><tr class="head-list">
    <th class="api_url_head">API URL</th>
    <th class="api_method_head">REQUEST METHODS</th>
  </tr>
  
  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="api_url"><a href="{% url api_whoami %}">{% url api_whoami %}</a></td>
    <td class="api_method">GET</td>
  </tr>

  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="api_url"><a href="{% url api_lookupurls %}">{% url api_lookupurls %}</a></td>
    <td class="api_method">GET</td>
  </tr>

  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="api_url"><a href="{% url api_registerurls %}">{% url api_registerurls %}</a></td>
    <td class="api_method">POST</td>
  </tr>

  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="api_url"><a href="{% url api_users_list %}">{% url api_users_list %}</a></td>
    <td class="api_method">GET</td>
  </tr>

  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="api_url"><a href="">/v2/users/{username}</a></td>
    <td class="api_method">GET</td>
  </tr>

  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="api_url"><a href="">/v2/users/{username}/urls</a></td>
    <td class="api_method">GET</td>
  </tr>

  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="api_url"><a href="">/v2/users/{username}/urls/{url_id}</a></td>
    <td class="api_method">GET</td>
  </tr>

  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="api_url"><a href="{% url api_categories %}">/v2/categories</a></td>
    <td class="api_method">GET</td>
  </tr>

  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="api_url"><a href="">/v2/categories/{category}</a></td>
    <td class="api_method">GET</td>
  </tr>


</tbody></table>

<BR>
Cached: {{ from_cache }}

<table cellspacing="0" class="box-list">
  <tbody><tr class="head-list">
    <th class="con_url_head">Connection URL</th>
    <th class="con_url_created">First Seen</th>
    <th class="con_url_learned">Learned From</th>
    <th class="con_errorcount">Error Count</th>
    <th class="con_errormessage">Previous Error</th>
  </tr>
{% for url in urls %}
  <tr class="body-list {% cycle "rowa" "rowb" %}">
    <td class="con_url"><a href="{{ url.url }}{% url api_whoami %}">{{ url.url }}</a> &nbsp;&nbsp;[<a href="{{ url.url }}{% url api_lookupurls %}">List</a>]</td>
    <td class="con_created">Created {{ url.created }}</td>
    <td class="con_learned">{{ url.parent }}</td>
    <td class="con_errorcount" bgcolor="#{{ url.get_errorcount|status_color }}">{{ url.get_errorcount }}</td>
    <th class="con_errormessage">{{ url.get_errormessage }}</th>
  </tr>
{% empty %}
  <tr><td colspan="2">No Hosts Identified</td></tr>
{% endfor %}
</tbody></table>

<BR>


{% endblock content %}
